// -------------------- Universals --------------------

html {
    font-size: 125%;
}

body {
    font-family: $secondaryFont;
}

* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: $tertiaryColor;  
}

img {
    display: block;
    max-width: 100%;
}


section {
    margin-bottom: $sectionSpace;
}

.wrapper {
    width: 80%;
    max-width: 1600px;
    margin: 0 auto;
}

.flexColumn {
    display: flex;
    flex-flow: column wrap;
}

.flexRow {
    display: flex;
}


// -------------------- Header --------------------

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $secondaryColor;
}

.headerContainer {
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1% 0;
}

input[type="radio"] {
    margin-right: 3%;
}

label[for="searchArtist"] {
    margin-right: 7%;
}

.searchFunction {
    flex-flow: column wrap;
}

.searchBar {
    margin-top: 2%;

    input[type="text"] {
        background-color: $secondaryColor;
        border-top-color: transparent;
        border-left-color: transparent;
        border-right-color: transparent;
    }
}

// -------------------- Main Styling --------------------
main{
    background-color: $primaryColor;
    color: $tertiaryColor;
}

.mainContainer {
    padding: 150px 0 0.1% 0;
}

.infoContainer,
.songListContainer {
    max-height: 20%;
}

.mainInfoDisplay {
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.infoContainer {
    flex: 1 0 40%;
    flex-flow: column nowrap;
}

.songImage {
    width: 300px;
}

.songInfo {
    padding: 3% 0;

    h3 {
        text-transform: capitalize;
    }
}


// song list section
.songListContainer {
    flex: 1 1 60%;

    h2 {
        margin-bottom: 2%;
        padding-left: 1.75%;
    }
}

.songList {
    max-height: 350px;
    overflow: scroll; 

    li:nth-child(2n + 1){
        background-color: black;
    }

    li {
        margin-bottom: 1.5%;
        padding: 1.75% 0 1.75% 3%;
    }

    li:hover {
        background-color: $accentColor;
    }

    
}

// Section with similar artists

.suggestions {

    h2 {
        text-align: center;
        margin-bottom: 1.5%;
    }

    li {
        display: inline-block;
        flex-basis: 200px;
    };

}

// ---------- Footer ---------- 

footer {
    text-align: center;
    padding: .75% 0;
    background-color: $secondaryColor;
}

@media (max-width: 1000px) {
    
   .mainInfoDisplay {
        flex-flow: column nowrap;
        align-items: center;
    } 

    .infoContainer,
    .songListContainer {
        width: 100%;
    }

    .infoContainer {
        align-items: center;
    }

    .songInfo {
        text-align: center;
    }
}

@media (max-width: 768px) {

    .headerContainer {
        flex-flow: column nowrap;
        align-items: center;
        text-align: center;
    }

    .mainContainer {
        padding: 200px 0 0.5% 0;
    }
}