// -------------------- Universals --------------------

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 125%;
}

body {
    font-family: $secondaryFont;
}

h1, h2 {
    font-family: $primaryFont;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: $tertiaryColor;  
}

img {
    display: block;
    max-width: 100%;
}


.wrapper {
    width: 80%;
    max-width: 1600px;
    margin: 0 auto;
}

.flexColumn {
    display: flex;
    flex-flow: column wrap;
}

.flexRow {
    display: flex;
}


// -------------------- Header --------------------

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $primaryColor;
    color: $tertiaryColor;

    h1 span {
        color: $accentColor;
    }
}


.headerContainer {
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 1% 0 3% 0;
}

form {
    font-family: $primaryFont;
    font-weight: 400;
}

input[type="radio"] {
    cursor: pointer;
}

input[type="radio"]:checked + label {
    color: $accentColor;
}

label {
    transition: color 0.15s ease-in;
}

label:hover {
    color: $accentColor;
    cursor: pointer;
}

label[for="searchArtist"] {
    margin-right: 3.5%;
}

.searchFunction {
    flex-direction: column;
}


.searchBar.grid {
    justify-content: space-between;
}

.searchBar {
    margin-top: 2%;
    justify-content: space-between;
    
    input[type="text"] {
        background-color: $secondaryColor;
        border: 1.5px solid transparent;        
        height: 100%;
        padding-left: 10px;
        color: $tertiaryColor;
        transition: border 0.15s ease-in;
    }
    
    input[type="text"]:focus{
        border-color: $accentColor;
    }
    
    input[type="text"]::placeholder {
        color: $tertiaryColor;
    }

    input[type="submit"]{
        padding: 0 10px 1px 10px;
        border-radius: 5px;
        border: 2px solid $secondaryColor;
        color: $tertiaryColor;
        background: transparent;
        transition: all 0.15s ease-in;
        margin-left: 10px;
    }

    input[type="submit"]:hover, 
    input[type="submit"]:focus {
        background: $accentColor;
        border-color: transparent;  
        color: $secondaryColor;
    }
}

// -------------------- Main Styling --------------------
main{
    background-color: $primaryColor;
    color: $tertiaryColor;
}

.mainContainer {
    padding: 100px 0 0.1% 0;
}

.infoContainer,
.songListContainer {
    max-height: 20%;
}

.mainInfoDisplay {
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.infoContainer {
    width: 45%;
    flex-flow: column nowrap;
}

.songInfo {
    padding: 3% 0;

    h3 {
        text-transform: capitalize;
    }
}

// song list section
.songListContainer {
    width: 55%;
    max-height: 386px;
    margin-bottom: 2.5%;
}

.songList {
    max-height: 348px;
    overflow-y: scroll; 

    li:nth-child(2n + 1){
        background-color: black;
    }

    li {
        margin-bottom: 1.5%;
        padding: 1.75% 0 1.75% 3%;
    }

}
.trackHeader {
    margin-bottom: 1.5%;
}

.trackHeading,
.track {
    flex-flow: row wrap;
    justify-content: flex-start;

    li,
    p {
        flex: 1 0 50%;
    }

    p {
        transition: color 0.25s ease-in;
    }

    p:hover {
        color: $accentColor;
        cursor: pointer;
    }
}

.trackHeading {

    li:nth-of-type(2n + 1) {
        padding-left: 2%;
    }
}


// Section with similar artists


.mainInfoDisplay + section {
    margin-bottom: 2.25%; 
    //0.75% padding applied to top of footer. 2.5% consistent with header
}

.suggestions {

    width: 100%; 

    h2 {
        margin-bottom: 1.5%;
        font-size: 1.25rem;
    }
    
    
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        font-size: 0.85rem;
        max-height: 70px;
        overflow-y: scroll;
    
        li {
            margin-bottom: 1.5%;
            transition: color 0.25s ease-in,
            
        }
        
        li:hover {
            cursor: pointer;
            color: $accentColor;
        }
    }
}

// ---------- Footer ---------- 

footer {
    text-align: center;
    padding: .75% 0;
    background-color: $primaryColor;
    color: $tertiaryColor;
    font-size: 0.75rem;

    span {
        color: $accentColor;
    }

    p:last-child{
        font-size: 0.55rem;
    }
}

// ---------- media queries ----------
@media (max-width: 1140px) {
    
    .mainContainer {
        padding-top: 90px;
    }

   .mainInfoDisplay {
        flex-flow: column nowrap;
        align-items: center;
    } 

    .infoContainer,
    .songListContainer {
        width: 100%;
    }

    .infoContainer {
        align-items: center;
    }

    .trackHeading,
    .track {
        justify-content: space-around;
        text-align: center;

        li,
        p {
            flex: 1 0 25%;
        }
    }

    .trackHeading {

        li:nth-of-type(1) {
            padding-left: 5%;
        }

        li:nth-of-type(2) {
            padding-left: 1%;
        }
    }

    .suggestions {
        .grid {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }
}

@media (max-width: 768px) {

    html {
        font-size: 100%;
    }

    .suggestions {
        .grid{
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

}

@media (max-width: 530px) {


    .headerContainer {

        justify-content: center;

        h1 {
            flex-basis: 301px;
        }
    }

    .searchBar {
        justify-content: flex-start;
    }

    // .infoContainer {
    //     flex-direction: column;
    //     align-items: flex-start;
    // }


    .songListContainer,
    .similarArtistsContainer {
        max-width: 301px;
    }

    .similarArtistsContainer {
        justify-content: center;
    }
    
    .suggestions {

        .grid {
            grid-template-columns: 1fr 1fr;
        }

    }
}

@media (max-width: 391px){

    .wrapper {
        width: 90%;
    }

    .headerContainer {
        justify-content: flex-start;
    }

    .searchBar {
        flex-wrap: wrap;

        input[type="submit"],
        label.search{
            margin-left: 0;
            margin-top: 2%;
        }

        input[type="text"]{
            width: 100%;
            height: 50%;
        }
    }
}