// -------------------- Universals --------------------

html {
    font-size: 125%;
}

body {
    font-family: $secondaryFont;
}

* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: $tertiaryColor;  
}

img {
    display: block;
    max-width: 100%;
}


section {
    margin-bottom: $sectionSpace;
}

.wrapper {
    width: 80%;
    max-width: 1600px;
    margin: 0 auto;
}

.flexRow {
    display: flex;
}


// -------------------- Header --------------------
// media query for wrapping ~ 780px
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $secondaryColor;

    h1 {
        flex:1 0 50%;
        font-family: $primaryFont;
    }

    nav {
        flex: 1 0 50%;
        display: flex;
        flex-flow: column nowrap;
    }
}

form{
    align-self: flex-end;
}

.headerMain.flexRow {
    justify-content: space-between;
}

label[for="searchArtist"]{
    margin-right: 3%;
}

.searchBar {
    margin-top: 1.5%;

    input[type="text"] {
        background-color: $secondaryColor;
        border-top-color: transparent;
        border-left-color: transparent;
        border-right-color: transparent;
    }
}

// -------------------- Main Styling --------------------
main{
    background-color: $primaryColor;
    color: $tertiaryColor;
}

.mainContainer {
    padding: 100px 0;
}

.infoContainer,
.songListContainer {
    height: 400px;
}

.mainInfoDisplay {
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.infoContainer {
    flex: 1 0 40%;
    flex-flow: column nowrap;
}

.songInfo {
    padding: 3% 0;

    h3 {
        text-transform: capitalize;
    }
}


// song list section
.songListContainer {
    flex: 1 0 60%;

    h2 {
        margin-bottom: 2%;
        padding-left: 1.75%;
    }
}

.songList {
    height: 325px;
    overflow: scroll; 

    li:nth-child(2n + 1){
        background-color: black;
    }

    li {
        margin-bottom: 1.5%;
        padding: 1.75% 0 1.75% 3%;
    }

    li:hover {
        background-color: $accentColor;
    }
}

// Section with similar artists

.suggestions {
    border: 1px solid green;

    h2 {
        text-align: center;
        margin-bottom: 1.5%;
    }
}

.songPair {
    flex: 1 1 33.33%;
    text-align: center;

    li:first-child {
        margin-bottom: 3%;
    }
}

// ---------- Footer ---------- 

footer {
    text-align: center;
    padding: .75% 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: $secondaryColor;
}






