article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

* {
  margin: 0;
  padding: 0; }

html {
  font-size: 125%; }

body {
  font-family: "Lato", sans-serif; }

h1, h2 {
  font-family: "Open Sans", sans-serif; }

li {
  list-style: none; }

a {
  text-decoration: none;
  color: #e0e2db; }

img {
  display: block;
  max-width: 100%; }

.wrapper {
  width: 80%;
  max-width: 1600px;
  margin: 0 auto; }

.flexColumn {
  display: flex;
  flex-flow: column wrap; }

.flexRow {
  display: flex; }

header {
  position: sticky;
  top: 0;
  background-color: #161616;
  color: #e0e2db;
  z-index: 10; }
  header h1 span {
    color: darkorange; }

.headerContainer {
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 1% 0 2.5% 0; }

form {
  font-family: "Open Sans", sans-serif;
  font-weight: 400; }

input[type="radio"] {
  cursor: pointer; }

input[type="radio"]:checked + label {
  color: darkorange; }

label {
  transition: color 0.15s ease-in; }

label:hover {
  color: darkorange;
  cursor: pointer; }

label[for="searchArtist"] {
  margin-right: 3.5%; }

.searchFunction {
  flex-direction: column; }

.searchBar.grid {
  justify-content: space-between; }

.searchBar {
  margin-top: 2%;
  justify-content: space-between; }
  .searchBar input[type="text"] {
    background-color: #333333;
    border: 1.5px solid transparent;
    height: 100%;
    padding-left: 2%;
    color: #e0e2db;
    transition: border 0.15s ease-in;
    width: 70%; }
  .searchBar input[type="text"]:focus {
    border-color: darkorange; }
  .searchBar input[type="text"]::placeholder {
    color: #e0e2db; }
  .searchBar input[type="submit"] {
    padding: 0 10px 1px 10px;
    border-radius: 5px;
    border: 2px solid #333333;
    color: #e0e2db;
    background: transparent;
    transition: all 0.15s ease-in;
    margin-left: 2%; }
  .searchBar input[type="submit"]:hover,
  .searchBar input[type="submit"]:focus {
    background: darkorange;
    border-color: transparent;
    color: #333333; }

main {
  background-color: #161616;
  color: #e0e2db; }

.mainContainer {
  padding-bottom: 0.1%; }

.infoContainer,
.songListContainer {
  max-height: 20%; }

.mainInfoDisplay {
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start; }

.infoContainer {
  width: 45%;
  flex-flow: column nowrap; }

.songInfo {
  padding: 2.5% 0; }
  .songInfo h3 {
    text-transform: capitalize; }

.songListContainer {
  width: 55%;
  height: 388px;
  margin-bottom: 2.5%; }

.songList {
  max-height: 325px;
  overflow-y: auto; }
  .songList li:nth-child(2n + 1) {
    background-color: #333333; }
  .songList li {
    margin-bottom: 1.5%;
    padding: 1.75% 0 1.75% 3%; }
    .songList li p:first-child {
      font-weight: 600; }

.trackHeader {
  margin-bottom: 1.5%; }

.trackHeading,
.track {
  flex-flow: row wrap;
  justify-content: flex-start; }
  .trackHeading li,
  .trackHeading p,
  .track li,
  .track p {
    flex: 1 0 50%; }
  .trackHeading p,
  .track p {
    transition: color 0.25s ease-in; }
  .trackHeading p:last-child,
  .track p:last-child {
    font-size: 0.75rem;
    align-self: flex-end; }
  .trackHeading p:hover,
  .track p:hover {
    color: darkorange;
    cursor: pointer; }

.trackHeading li:nth-of-type(2n + 1) {
  padding-left: 2%; }

.mainInfoDisplay + section {
  margin-bottom: 2.25%; }

.suggestions {
  width: 100%; }
  .suggestions h2 {
    margin-bottom: 1.5%;
    font-size: 1.25rem; }
  .suggestions .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    font-size: 0.85rem;
    max-height: 70px; }
    .suggestions .grid li {
      margin-bottom: 1.5%;
      transition: color 0.25s ease-in; }
    .suggestions .grid li:hover {
      cursor: pointer;
      color: darkorange; }

footer {
  text-align: center;
  padding: .75% 0;
  background-color: #161616;
  color: #e0e2db;
  font-size: 0.75rem; }
  footer span {
    color: darkorange; }
  footer p:last-child {
    font-size: 0.55rem; }

@media (max-width: 1050px) {
  .infoContainer, .songListContainer {
    width: 50%; }
  .trackHeading li:last-child {
    display: none; }
  .trackHeading li:nth-of-type(2n+1) {
    padding-left: 0; }
  .trackHeading li:first-child {
    flex: 1 0 47%; }
  .track.flexRow {
    flex-direction: column; }
    .track.flexRow p:last-child {
      font-size: 0.75rem;
      padding-top: 1%;
      padding-left: 1%;
      transition: color 0.15s ease-in;
      align-self: flex-start; }
    .track.flexRow p:last-child:hover {
      color: darkorange; }
  .songList li {
    padding-left: 0%; }
  .suggestions .grid {
    grid-template-columns: 1fr 1fr 1fr; } }

@media (max-width: 800px) {
  html {
    font-size: 112.5%; }
  .headerContainer {
    justify-content: center;
    width: 301px; }
  h1, .searchFunction {
    width: 301px; }
  input[type="text"] {
    max-width: 70%; }
  input[type="submit"] {
    max-width: 28%; }
  .searchBar {
    justify-content: flex-start; }
  .mainInfoDisplay {
    justify-content: center; }
  .infoContainer, .songListContainer {
    width: 100%; }
  .songImage, .songInfo {
    align-self: center; }
  .songInfo {
    width: 301px; }
  .songListContainer,
  .similarArtistsContainer {
    max-width: 301px; }
  .similarArtistsContainer {
    justify-content: center; }
  .suggestions .grid {
    grid-template-columns: 1fr 1fr; } }

@media (max-width: 530px) {
  .wrapper {
    width: 90%; } }

@media (max-width: 391px) {
  html {
    font-size: 100%; }
  .wrapper {
    width: 98%; } }

.sb-container {
  position: relative;
  overflow: hidden;
  padding-right: 10px; }

.sb-content {
  height: 325px;
  width: 120%;
  padding-right: 20%;
  overflow-y: scroll;
  box-sizing: border-box; }

.sb-scrollbar-container {
  position: absolute;
  right: 5px;
  bottom: 5px;
  top: 5px;
  width: 10px; }

.sb-scrollbar-container-hide {
  right: -20px; }

.sb-scrollbar {
  position: absolute;
  right: 0;
  height: 80px;
  width: 10px;
  border-radius: 10px;
  background: rgba(50, 50, 50, 0.5); }

.sb-scrollbar:hover {
  background: rgba(0, 0, 0, 0.5); }
